
* {
    padding: 0px;
    margin: 0px;
    font-family: "Lucida Console", "Monaco", monospace;
}

body {
    background-color: #E6F3F7;
}

a {
    color: #FF643B;
    text-decoration: none;
}

/* PAGE TITLE */

h1 {
    font-size: 70px;
    color: #E6F3F7;
}

#page-title {
    padding-left: 200px;
    padding-right: 200px;
    background-color: #24ABD2;
    width: 100%;
    border-bottom: 10px solid orange;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* OTHER */

#top-links, #page-content {
    padding-left:  200px;
    padding-right:  200px;
}

#top-links {
    text-align: right;
    font-size: 25px;
}

#top-links img {
    height: 25px;
}

.portfolio-item {
    margin-top: 30px;
    border-left: 3px solid #0197C2;
    padding-left: 20px;
}

.portfolio-item .title {
    font-size: 30px;
    font-weight: bold;
}

.language-logo img {
    height: 20px;
}

.language-logo {
    font-size: 20px;
}
