
* {
    padding: 0px;
    margin: 0px;
    font-family: "Lucida Console", "Monaco", monospace;
}

body {
    background-color: #E6F3F7;
}

a {
    color: #FF643B;
    text-decoration: none;
}

/* PAGE TITLE */

#page-title {
    color: #E6F3F7;
    background-color: #24ABD2;
    width: 100%;
    border-bottom: 10px solid orange;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 110px;
    margin: auto;
    font-weight: bold;
}

@media screen and (min-width: 1025px) {
    #page-title {
        text-align: left;
        padding-left: 200px;
        font-size: 70px;
        margin: 0;
    }
}

/* TOP LINKS */

#top-links {
    padding-left:  200px;
    padding-right:  200px;
}

#top-links {
    text-align: right;
    font-size: 25px;
}

#top-links img {
    height: 25px;
}

/* PORTFOLIO */

.page-content {
    width: 100%;
    text-align: center;
}

.portfolio-item {
    margin-left: 50px;
    margin-top: 50px;
    padding-left: 50px;
    border-left: 8px solid #0197C2;
}

.portfolio-item .title {
    font-size: 40px;
    font-weight: bold;
}

.language-logo img {
    height: 20px;
}

.language-logo {
    font-size: 20px;
}

@media screen and (min-width: 1025px) {
    .portfolio-item {
        margin-left: 200px;
        margin-top: 30px;
        padding-left: 30px;
        border-width: 3px;
    }

    .portfolio-item .title {
        font-size: 30px;
    }
}
