<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png)$ [NC]

RewriteRule ^(.*)$ /~annacpet/ancestry/index.html?url=$1 [L]
</IfModule>
